@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
   --primary-color: #7AA1C6;
   --primary-color-light: #a0bdd8;
   --text-dark: #393838; 
   --text-light: #7AA1C6;
   --extra-light: #fff8f9;
   --max-width: 1200px;
}

html {
   scroll-behavior: smooth;

   margin: 0;
   padding: 0;
   height: 100%;
}

nav {
   padding: 0%;
   padding-top: 0%;
   margin: auto;
   box-sizing: border-box;
}

h1 {
   font-size: 2rem;
   font-weight: bold;
   line-height: 3rem;
   color: var(--text-dark);
   margin-bottom: 1rem;
}

a{
   text-decoration: none;
}

body{
   font-family: 'poppins', sans-serif;
}

/*DESKTOP NAV*/

nav {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
  background-color: #ffffff28; 
   backdrop-filter: blur(10px); /* Blur effect */
   -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
   z-index: 99;
}

.nav__content {
   max-width: var(--max-width);
   margin: auto;
   padding: 1.5rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .logo a {
   margin: 0px;
   font-size: 2.5rem;
   font-weight: 600;
   color:#393838;
   transition: .3s;
   position: absolute; /* Set position to absolute */
   left: 10%; /* Set the left position */
   top: 15px; /* Set the top position */
}

nav .logo a:hover {
   color: var(--primary-color-light);
}

.nav__content {
   position: relative; /* Position relative for absolute positioning */
}

.nav__content ul {
   display: flex;
   align-items: center;
   gap: 1rem;
   list-style: none;
}

.nav__content ul li a {
   padding: 0.5rem 1rem;
   text-decoration: none;
   font-weight: 600;
   color: var(--text-dark);
   transition: 0.3s;
}

.nav__content ul li a:hover {
   color: #5C83A8;
   text-decoration: underline;
   text-underline-offset: 15px;
}

/* Hamburger icon */
.hamburger-menu-icon {
   cursor: pointer;
   font-size: 2rem;
   display: none; /* Hide hamburger menu icon by default */
   position: absolute;
   top: 20px; /* Adjust top position */
   right: 20px; /* Adjust right position */
}

/* Hide menu items by default */
.menu-items {
   display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
   /* Hide menu items on smaller screens */
   .menu-items {
      display: none;
   }

   /* Show hamburger menu icon on smaller screens */
   .hamburger-menu-icon {
      display: block;
   }

   /* Show menu items when the hamburger menu is clicked */
   .menu-items.show {
      display: block;
   }
}

/* Show menu items by default on larger screens */
@media (min-width: 769px) {
   .menu-items.hide {
      display: block;
   }
}

/*PROFILE SECTION*/
body {
   margin: 0; /* Remove default margins */
   padding: 0; /* Remove default paddings */
}
.profile {
   width: 100%;
   margin: 0;
   padding: 0;
  /* background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%); */
   background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
   min-height: 400px;
   height: 100vh;
}
.profile__container {
   min-height: 110vh;
   max-width: 100%;
   min-width: 8%;
   margin: auto;
   margin-top: 1px;
   padding-left: 18%;
   padding-right: 15%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap:2%;
}
.profile__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.profile__subtitle {
   letter-spacing: 2px;
   color:#393838;
   font-weight: 600;

}
.profile__title {
   margin-top: 0;
   font-size: 2.5rem;
   font-weight: 400;
   line-height: 3rem;
   color: var(--text-dark);
   margin-bottom: 0;

}
.profile__title span{
   font-weight: 600;
   white-space: nowrap; /* Prevent title from wrapping */

}
.profile__description p {
   line-height: 1.5rem;
   color: var(--text-dark);

}
.profile-image { 
   display: grid;
   place-items: center;
}

.profile-image img {
   width: 70%; /* 100% for a circle, not 100% */ 
   overflow: hidden; /* Correct value is 'hidden', not 'clip' */
   margin: 1rem; /* Add some spacing between image and text */
 }

 /* Mobile-specific styles */
 @media screen and (max-width: 750px)
   {
      .profile-image img {
         width: 80%; /* 100% for a circle, not 100% */ 
         overflow: hidden; /* Correct value is 'hidden', not 'clip' */
         place-items: center;

       }
      
      .profile__container {
      grid-template-columns: 1fr; /* Change to a single column for mobile */
      padding-top: 5rem;
      }
      .profile__container .profile-image {
      order: -1; /* Move the image above the text for mobile */
      width: 25rem;
      }

      .profile {
         min-height: 600px; /* Adjust this value as needed */
      }

   }

/*PROFILE BUTTONS*/

.action__btns {
   letter-spacing: 2px;
   display: flex;
   gap: 1rem;
   font-size: 8px;
   font-weight: 600;

}



.action__btns button {
   margin-top: 20px;
   font-size: 1rem;
   font-weight: 600;
   letter-spacing: 2px;
   padding: 1rem 2rem;
   outline: none;
   border: 2px solid var(--primary-color);
   border-radius: 35px;
   transition: 0.3s;
   cursor: pointer;
}
.contact__me {
   background-color: var(--primary-color);
   color: #ffffff;
}
.contact__me:hover {
   background-color: #5C83A8;
   box-shadow: 5px 5px 8px #DADBEF;
}
.portfolio{
   background-color: whitesmoke;
   color: var(--primary-color)

}
.portfolio:hover {
   color: var(--extra-light);
   background-color: var(--text-light);
   box-shadow: 5px 5px 8px #DADBEF;
}


ul li a {
   font-size: 1.2rem;
}

.profile-section-container {
   padding: 10rem 1rem 5rem 1rem;
   text-align: center;
   grid-template-columns: repeat(1, 1fr);
}
.profile-section-action__btns { 
   margin: auto;
}


/*ABOUT SECTION*/

.about__containers {
   opacity: 0; /* Initially hide the section */
   transition: opacity 3s ease-in; /* Apply transition effect */
}

.about__containers.show {
   opacity: 1; /* Show the section with fade-in effect */
}


#about {
   background-color: #FAFAFA; /* Choose your desired background color */
   padding: 60px; /* Add padding to provide some space around the content */
 }
 

.about-section-container {
   display: grid;
   gap: 4rem;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 4rem;
   column-gap: 4rem;
}


.about__containers {
   display: flex;
   flex-wrap: wrap; /* Allow items to wrap to the next row */
   margin-top: 2rem;
   margin-bottom: auto;
   padding-left: 10%;
   padding-right: 10%;
   gap: 6rem;
}

.about__details__container,
.details__container {
   flex: 1;
   width: calc(50% - 1rem); }


/*TECH STACK SECTION*/
.each_tech {
   font-size: 1rem;
   color: var(--extra-light);
   margin-bottom: 8px;
   margin: 5px;
   margin-left: 0%;
   background-color: #393838;
   padding: 8px 16px;
   border-radius: 35px; 
   display: inline-block; 
}

.each_tech:hover {
   background-color:  #5a5a5a;
   cursor: default;
}

/* PROJECTS SECTION*/

/* Apply styles to the projects section title */
#projects .title {
   text-align: left;
   margin-left: 10%;
}

/* Apply styles to the projects container */
#projects .projects__container {
   display: flex; /* Use flexbox layout */
   flex-wrap: nowrap; /* Prevent wrapping to new lines */
   overflow-x: auto; /* Enable horizontal scrolling */
   gap: 20px;
   padding: 0 10% 20px 8%; /* Adjusted padding */
}

.single_project_container h2 {
   padding: 0%;
   margin: 2%;
}

.single_project_container p {
   padding: 0 5%; /* Adjusted padding */
   margin: 0 0 5%; /* Adjusted margin with 5% bottom margin */
}


/* Apply styles to each individual project container */
#projects .single_project_container {
   width: 28%; /* Set a minimum width for each project */
   flex: 0 0 auto; /* Ensure each project container retains its size */
   background-color: #FAFAFA;
   border-radius: 30px;
   color: #464747;
   padding: 20px;
   text-align: center;
}

.single_project_container {
   width: 250px; /* Adjust the width as needed */
   background-color: #FAFAFA;
   border-radius: 20px;
   color: #464747;
   padding: 10px;
   margin: 0 10px; /* Add margin between project containers */
   flex: 0 0 auto; /* Ensure each project container retains its size */
   width: 30%; /* Display three projects at a time */
}

.single_project_container p {
   text-align: center;
   font-size: 12px;
}


.single_project_container img {
   border-radius: 10px; /* Rounded corners for the image */
   max-width: 70%; /* Set maximum width */
   height: auto; /* Maintain aspect ratio */
}

/* Apply styles to the text container inside .single_project_container */
#projects .text-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Apply styles to the project buttons */
#projects .project_button {
   background-color: white;
   color: black;
   padding: 10px 16px;
   margin: 0px; /* Adjusted margin */
   font-size: 12px;
   font-weight: 500;
   letter-spacing: 2px;
   border: 1px solid #393838;
   border-radius: 35px;
   transition: 0.3s;
   cursor: pointer;
}

#projects .project_button:hover {
   color: white;
   background-color: black;
}

/* CAROUSEL CONTAINER */


.carousel-container {
   position: relative;
}

.projects__container::-webkit-scrollbar {
   display: none;
}
/* Style the navigation buttons */
.prev,
.next {
    position: absolute; /* Position relative to the parent carousel container */
    top: 50%; /* Position vertically at the center */
    transform: translateY(-50%); /* Adjust for center alignment */
    background-color: #ffffff; /* Background color */
    color: #393838; /* Text color */
    border: 2px solid #393838; /* Border color */
    border-radius: 50%; /* Border radius for circular shape */
    padding: 10px; /* Padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transition effect */
}

/* Style the previous button */
.prev {
    left: 40px; /* Position to the left */
}

/* Style the next button */
.next {
    right: 40px; /* Position to the right */
}

/* Hover effect for navigation buttons */
.prev:hover,
.next:hover {
    background-color: #393838; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    border-color: #393838; /* Border color on hover */
}


/*CERTIFIATE SECTION*/

.certification h1{
   text-align: left;
   margin-left: 10%;
}

.certification__container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding: 0 180px;
   margin-bottom: 5%;
}

.certificate img {
   border-radius: 10px;
   max-width: 100%;
   height: auto;
   border: solid #393838;
}

.certificate img:hover {
  /* border: solid #ffdbbfab; */
   border: solid rgba(255, 255, 255, 0);
   box-shadow: 
      -20px 0 30px -10px #FFDBBF, /* Left side shadow */
      20px 0 30px -10px #E7B6F4, /* Right side shadow */
      0 0 30px 10px rgba(223, 240, 255, 0.8); /* Silvery glow effect */
}


/* Media Query for Mobile */

@media (max-width: 768px) {
   .certification__container {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 30px; /* Adjust padding as needed */
   }
}



/*CONTACT SECTION*/
hr {
   margin: 0;
   padding: 0;
   border: none;
   height: 1px; /* Set the height of the horizontal rule */
   background-image: linear-gradient(to right, rgb(255, 255, 255), #e3e2e2); 
}

#contact {
   background-color: #FAFAFA; /* Choose your desired background color */
   padding: 60px; /* Add padding to provide some space around the content */
   height: 150%;
}


.contact-section-container {
   display: grid;
   gap: 4rem;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 4rem;
   column-gap: 4rem;
}


h1.contact-email a {
   text-align: justify;
   color: #393838;
}

h1.contact-email a:hover{
   text-decoration: underline;
   text-underline-offset: 10px;

}

.contact__details__container p {
   text-align: justify;
   width: 100%; /* Set the width to 100% */
   max-width: 75%; /* Set a maximum width if needed */
}


.contact__containers {
   display: flex;
   flex-wrap: wrap; /* Allow items to wrap to the next row */
   margin-top: 0.5rem;
   margin-bottom: 2rem;
   padding-left: 10%;
   padding-right: 10%;
   gap: 6rem;
}

.contact__details__container,
.details__container {
   flex: 1;
   width: calc(50% - 1rem);
}




.social-icons {
   display: flex; /* Use flexbox to line up icons horizontally */
}

.social-icons a {
   margin-right: 10px; /* Add spacing between icons */
}

.social-icons a:last-child {
   margin-right: 0; /* Remove margin from the last icon */
}

.social-icons i {
   font-size: 50px; /* Adjust the size of the icons */
   color: #393838;
}

.social-icons i:hover {
   color: #7AA1C6;;
}

.copyright-text{
   margin-bottom: 2px;
   text-align: center;
}
